.outer-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    .left-wrapper {
        background-color: bisque;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        .menu-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 20px 10px;
            .menu-icon {

            }
            .menu-search {

            }
            .menu-dashboard {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .right-wrapper {
        flex: 1;
    }
}